<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>835542925315-g9nrgvc7idr8v76uraehor80ncsmff9k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.835542925315-g9nrgvc7idr8v76uraehor80ncsmff9k</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>835542925315-77um6kjnoaqj93na4hmqnr0fjc73r6jn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCgLNthZRlQ7h8Dn2ueHXeO-WBFOSX3hus</string>
	<key>GCM_SENDER_ID</key>
	<string>835542925315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vectordesign</string>
	<key>PROJECT_ID</key>
	<string>vectordesign-b1b9e</string>
	<key>STORAGE_BUCKET</key>
	<string>vectordesign-b1b9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:835542925315:ios:d223f917acd77ea9ef0e36</string>
</dict>
</plist>